<% layout('./layout/app') -%>
<div class="row">
    <div class="col-md-5 mt-3">
        <button type="button" class="btn btn-primary">
            Download CSV
        </button>
    </div>
    <div class="col-md-7 mt-3">
        <div class="col-md-5 float-left">
            <input type="text" class="form-control" placeholder="Enter event id here" id="singleEventInput" style="min-width:200px;">
        </div>
        <button class="btn btn-primary" id="SaveSingleEvent">Add New Event</button>
        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#uploadModal">Upload
            events from csv</button>
    </div>
</div>
<hr style="margin-top: 50px;">
<div class="row mt-3">
    <div class="col-md-12 mt-3 mb-5">
        <p class="mt-3 mb-3"><b>Events</b></p>
        <table id="eventTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <th class="th-sm">No
                </th>
                <th style="background: none;text-align:center;">
                    <input type="checkbox" id="checkAll">
                    <div class="dropdown">
                        <i class="fas fa-plus-circle" title="Action" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <p class="dropdown-item" onclick="removeSelectedEvents();">Remove selected events</p>
                            <p class="dropdown-item" onclick="editSelectedFrequency();">Edit pulling frequency</p>
                        </div>
                    </div>
                </th>
                <th class="th-sm">EventID
                </th>
                <th class="th-sm">Name</th>
                <th class="th-sm">Date</th>
                <th class="th-sm">Venue</th>
                <th class="th-sm">
                    Action
                </th>
            </thead>
            <tbody>
                <% for(let i = 0; i < events.length; i++) { let event = events[i]; %>
                <tr>
                    <td style="text-align: center;">
                        <%=i+1%>
                    </td>
                    <td style="text-align: center;">
                        <input type="checkbox" class="checkbox" name="" data-eventID="<%=event.eventID%>">
                    </td>
                    <td style="text-align: center;">
                        <%=event.eventID%>
                    </td>
                    <td>
                        <%=event.name%>
                    </td>
                    <td>
                        <% var cdate = new Date(event.eventDate).toLocaleString('en-US', {
                            timeZone: 'America/New_York'
                        }); %>
                        <%=cdate%>
                    </td>
                    <td style="width: 200px;">
                        <%=' ' + event.venue.name + ', ' + event.venue.city + ', ' + event.venue.state%>
                    </td>
                    <td class="text-center">
                        <a href="https://pro.stubhub.com/simweb/sim/services/priceanalysis?<%=event.eventID%>" target="_blank"><button
                                class="btn btn-success" title="Visit Site"><i class="fas fa-location-arrow"></i></button></a>
                        <a href="/tickets/<%=event.eventID%>"><button class="btn btn-success" title="View Tickets"><i
                                    class="fas fa-align-justify"></i></button></a>
                        <button class="btn btn-success" title="Set pull frequency" onclick="openSetting('<%=event.eventID%>')"><i
                                class="fas fa-cog"></i></button>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
    <form action="/events/uploadcsv" method="POST" enctype="multipart/form-data" onsubmit="showloading();$('#uploadModal').modal('toggle');">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Upload events from csv</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="filter">Select File</label>
                            <input type="file" name="file" class="form-control" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:800px;">
        <form action="" method="POST" id="frequencyFrom">
            <input type="hidden" name="multipleFrequencies" id="multipleFrequencies" value="">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Set time frequency</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <p class="modal-notice">By default, event data will be updated at 7:00pm every day.</p>
                        <p class="modal-notice" id="fr-modalmultiselect"></p>
                    </div>
                    <div id="condition-body" class="row">
                        <!-- <div class="col-md-12">
                            <div class="col-md-3 float-left">
                                <label for="">Start Date</label>
                                <input type="text" class="form-control datepicker" name="start_date">
                            </div>
                            <div class="col-md-3  float-left">
                                <label for="">End Date</label>
                                <input type="text" class="form-control datepicker" name="end_date">
                            </div>
                            <div class="col-md-4  float-left">
                                <label for="">Freqency</label>
                                <select name="frequency" id="" class="form-control">
                                    <option value="0">-------Select-------</option>
                                    <option value="10">Every 10 mins</option>
                                    <option value="20">Every 20 mins</option>
                                    <option value="30">Every 30 mins</option>
                                    <option value="60">Every 1 hour</option>
                                    <option value="120">Every 2 hours</option>
                                    <option value="360">Every 6 hours</option>
                                    <option value="720">Every 12 hours</option>
                                </select>
                            </div>
                            <div class="col-md-1 float-left">
                                <i class="fas fa-minus-circle remove-condition" title="Remove condition" onclick="removeCondition(this)"></i>
                            </div>
                        </div> -->
                    </div>

                    <div class="row m-3">
                        <i class="fas fa-plus-circle add-condition" title="Add new condition" onclick="addNewCondition()">Add
                            New Condition</i>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="/js/home.js"></script>