<% layout('./layout/app') -%>

<div class="row">
    <a href="/">Go back to event page</a>
</div>
<div class="row mt-5">
    <div class="col-sm-3">
        <img src="<%=event.image%>" width="200px;" alt="">
    </div>
    <div class="col-sm-9">
        <div class="row">
            <label for="" class="mr-3">Event ID: </label>
            <p>
                <%=event.eventID%>
            </p>
        </div>
        <div class="row">
            <label for="" class="mr-3">Name: </label>
            <p>
                <%=event.name%>
            </p>
        </div>
        <div class="row">
            <label for="" class="mr-3">Address: </label>
            <p>
                <%=' ' + event.venue.name + ', ' + event.venue.city + ', ' + event.venue.state%>
            </p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <p>Available Tickets</p>
    <table id="ticketTable" class="table table-striped table-bordered" cellspacing="0" style="width:100%;">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">TotalListings</th>
            <th class="th-sm">TotalTickets</th>
            <th class="th-sm">Min</th>
            <th class="th-sm">Average</th>
            <th class="th-sm">Median</th>
            <th class="th-sm">
                Action
            </th>
        </thead>
        <tbody>
            <% for(let i = 0; i < tickets.length; i++) { let ticket = tickets[i]; %>
            <tr>
                <td>
                    <%=i+1%>
                </td>
                <td>
                    <%=ticket.date%>
                </td>
                <td>
                    <%=ticket.totalListings%>
                </td>
                <td>
                    <%=ticket.totalTickets%>
                </td>
                <td>
                    <%=ticket.minTicketPrice%>
                </td>
                <td>
                    <%=ticket.averageTicketPrice%>
                </td>
                <td>
                    <%=ticket.medianTicketPrice%>
                </td>
                <td class="text-center">
                    <button class="btn btn-success" onClick="viewSeats('<%=ticket.eventID%>', '<%=ticket.date%>')">View
                        Seats</button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<div class="row mt-5 mb-5" id="seatDetails-div" style="display:none;">
    <p class="mt-5 mb-3"><b>Seats</b></p>
    <table id="seatTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Section</th>
            <th class="th-sm">Row</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Quantity</th>
            <th class="th-sm">DeliveryList</th>
        </thead>
        <tbody id="seatTable-body">
        </tbody>
    </table>
</div>

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
    function viewSeats(eventID, date) {
        $('#seatDetails-div').attr('style', 'display: none;');
        $("#seatTable").dataTable().fnDestroy();
        $.ajax({
            url: '/viewSeatDetails',
            method: 'POST',
            data: {
                eventID,
                date
            },
            success: function (res) {
                if (res.status == 'success') {
                    $('#seatDetails-div').attr('style', 'display: block;');
                    let html = '';
                    let i = 0;
                    res.data.forEach(seat => {
                        i++;
                        let deliveryList = '';
                        for (let j = 0; j < seat.deliveryTypeList; j++) {
                            let deliveryType = seat.deliveryTypeList[j];
                            let deliveryMethod = seat.deliveryList[j];
                            if (deliveryType == 1) {
                                deliveryList = deliveryList + 'No PDF attached,';
                            } else if (deliveryType == 2) {
                                deliveryList = deliveryList + 'PDF attached, ';
                            } else if (deliveryType == 12 || deliveryMethod == 41) {
                                deliveryList = deliveryList + 'Mobileqr instant, ';
                            } else if (deliveryType == 9 || deliveryMethod == 42) {
                                deliveryList = deliveryList + 'Non Mobileqr instant, ';
                            } else if (deliveryType == 10 || deliveryMethod == 43) {
                                deliveryList = deliveryList + 'Modile transfer, ';
                            } else if (deliveryType == 5 || deliveryMethod == 24) {
                                deliveryList = deliveryList + 'Ups, ';
                            } else if (deliveryType == 4 || deliveryMethod == 17) {
                                deliveryList = deliveryList + 'LMS, ';
                            }
                        };
                        if(deliveryList.length > 0) {
                            deliveryList = deliveryList.substring(0, deliveryList.length - 2);
                        }
                        let row = '<tr><td>' + i + '</td><td>' + seat.section + '</td><td>' + seat.row + '</td><td>' + seat.price + '</td><td>' + seat.quantity + '</td><td>' + deliveryList + '</td></tr>';
                        html = html + row;
                    });
                    $('#seatTable-body').html(html);
                    $('#seatTable').DataTable({ responsive: true });
                }
            }
        })
    }
</script>