<% layout('./layout/app') -%>

<div class="row">
    <a href="/">Go back to event page</a>
</div>
<div class="row mt-5">
    <div class="col-sm-3">
        <img src="<%=event.image%>" width="200px;" alt="">
    </div>
    <div class="col-sm-9">
        <div class="row">
            <label for="" class="ticket-description">Name: </label>
            <p>
                <%=event.name%>
            </p>
        </div>
        <div class="row">
            <label for="" class="ticket-description">Event ID: </label>
            <p>
                <%=event.eventID%>
            </p>
        </div>
        <div class="row">
            <label for="" class="ticket-description">Visit Site: </label>
            <p>
                <a href="https://pro.stubhub.com/simweb/sim/services/priceanalysis?eventId=<%=event.eventID%>" target='_blank'>https://pro.stubhub.com/simweb/sim/services/priceanalysis?eventId=
                    <%=event.eventID%></a>
            </p>
        </div>
        <div class="row">
            <label for="" class="ticket-description">Address: </label>
            <p>
                <%=' ' + event.venue.name + ', ' + event.venue.city + ', ' + event.venue.state%>
            </p>
        </div>
        <div class="row">
            <label for="" class="ticket-description">Date: </label>
            <p>
                <% var date = new Date(event.eventDate).toLocaleString('en-US', {
                    timeZone: 'America/New_York'
                });%>
                <%=date%>
            </p>
        </div>

    </div>
</div>

<div class="row mt-5">
    <p>Tickets</p>
    <table id="ticketTable" class="table table-striped table-bordered" cellspacing="0" style="width:100%;">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Timestamp</th>
            <th class="th-sm">TotalListings</th>
            <th class="th-sm">TotalTickets</th>
            <th class="th-sm">Min</th>
            <th class="th-sm">Average</th>
            <th class="th-sm">Median</th>
            <th class="th-sm">Sold Tickets</th>
            <th class="th-sm">
                Action
            </th>
        </thead>
        <tbody>
            <% for(let i = 0; i < tickets.length; i++) { let ticket = tickets[i]; %>
            <tr>
                <td>
                    <%=i+1%>
                </td>
                <td>
                    <%=ticket.datetime%>
                </td>
                <td>
                    <%=ticket.totalListings%>
                </td>
                <td>
                    <%=ticket.totalTickets%>
                </td>
                <td>
                    <%=ticket.minTicketPrice%>
                </td>
                <td>
                    <%=ticket.averageTicketPrice%>
                </td>
                <td>
                    <%=ticket.medianTicketPrice%>
                </td>
                <td>
                    <%=(ticket.soldNum != undefined)?ticket.soldNum:0%>
                </td>
                <td class="text-center">
                    <button class="btn btn-success" onClick="viewSoldSeats('<%=ticket._id%>')">View Sold</button>
                    <button class="btn btn-success" onClick="viewActiveSeats('<%=ticket._id%>')">View Active</button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>

<div class="row mt-5 mb-5" id="soldseatDetails-div" style="display:none;">
    <p class="mt-5 mb-3"><b>Sold Seats</b></p>
    <table id="soldseatTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Section</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Row</th>
            <th class="th-sm">Quantity</th>
            <th class="th-sm">DeliveryMethod</th>
            <th class="th-sm">Sale date</th>
        </thead>
        <tbody id="soldseatTable-body">
        </tbody>
    </table>
</div>

<div class="row mt-5 mb-5" id="seatDetails-div" style="display:none;">
    <p class="mt-5 mb-3"><b>Active Seats</b></p>
    <table id="seatTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Section</th>
            <th class="th-sm">Row</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Quantity</th>
            <th class="th-sm">DeliveryList</th>
        </thead>
        <tbody id="seatTable-body">
        </tbody>
    </table>
</div>


<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
    function viewActiveSeats(ticketID) {
        $('#seatDetails-div').attr('style', 'display: none;');
        $("#seatTable").dataTable().fnDestroy();
        $.ajax({
            url: '/viewActiveSeatDetails',
            method: 'POST',
            data: {
                ticketID
            },
            success: function (res) {
                if (res.status == 'success') {
                    $('#seatDetails-div').attr('style', 'display: block;');
                    let html = '';
                    let i = 0;
                    res.data.forEach(seat => {
                        i++;
                        let deliveryList = '';
                        if (seat.deliveryTypeList) {
                            let deliveryType = seat.deliveryTypeList[0];
                            let deliveryMethods = seat.deliveryMethodList;
                            if (deliveryType == 1) {
                                deliveryList = deliveryList + 'No PDF attached,';
                            } else if (deliveryType == 2) {
                                deliveryList = deliveryList + 'PDF attached, ';
                            } else if (deliveryType == 12 && deliveryMethods.indexOf(41) > -1) {
                                deliveryList = deliveryList + 'Mobileqr instant, ';
                            } else if (deliveryType == 9 && deliveryMethods.indexOf(42) > -1) {
                                deliveryList = deliveryList + 'Non Mobileqr instant, ';
                            } else if (deliveryType == 10 && deliveryMethods.indexOf(43) > -1) {
                                deliveryList = deliveryList + 'Modile transfer, ';
                            } else if (deliveryType == 5 && deliveryMethods.indexOf(24) > -1) {
                                deliveryList = deliveryList + 'Ups, ';
                            } else if (deliveryType == 4 && deliveryMethods.indexOf(17) > -1) {
                                deliveryList = deliveryList + 'LMS, ';
                            }
                        }

                        if (deliveryList.length > 0) {
                            deliveryList = deliveryList.substring(0, deliveryList.length - 2);
                        }
                        let row = '<tr><td>' + i + '</td><td>' + seat.section + '</td><td>' + seat.row + '</td><td>' + seat.price + '</td><td>' + seat.quantity + '</td><td>' + deliveryList + '</td></tr>';
                        html = html + row;
                    });
                    $('#seatTable-body').html(html);
                    $('#seatTable').DataTable({ responsive: true });
                }
            }
        })
    }

    function viewSoldSeats(ticketID) {
        $('#soldseatDetails-div').attr('style', 'display: none;');
        $("#soldseatTable").dataTable().fnDestroy();
        $.ajax({
            url: '/viewSoldSeatDetails',
            method: 'POST',
            data: {
                ticketID
            },
            success: function (res) {
                if (res.status == 'success') {
                    $('#soldseatDetails-div').attr('style', 'display: block;');
                    let html = '';
                    let i = 0;
                    res.data.forEach(seat => {
                        i++;
                        var cdate = new Date(seat.transactionDate).toLocaleString('en-US', {
                            timeZone: 'America/New_York'
                        });
                        let row = '<tr><td>' + i + '</td><td>' + seat.section + '</td><td>' + seat.displayPricePerTicket + '</td><td>' + seat.rows + '</td><td>' + seat.quantity + '</td><td>' + seat.deliveryOption + '</td><td>' + cdate + '</td></tr>';
                        html = html + row;
                    });
                    $('#soldseatTable-body').html(html);
                    $('#soldseatTable').DataTable({ responsive: true });
                }
            }
        })
    }
</script>