<% layout('./layout/app') -%>

<div class="row">
    <a href="/">Go back to event page</a>
</div>
<div class="row mt-5">
    <div class="col-sm-3">
        <img src="<%=event.image%>" width="200px;" alt="">
    </div>
    <div class="col-sm-9">
        <div class="row">
            <label for="">Event ID: </label>
            <p>
                <%=event.eventID%>
            </p>
        </div>
        <div class="row">
            <label for="">Name: </label>
            <p>
                <%=event.name%>
            </p>
        </div>
        <div class="row">
            <label for="">Address: </label>
            <p>
                <%=event.venue.address + ', ' + event.venue.city + ', ' + event.venue.state + ', ' + event.venue.country%>
            </p>
        </div>
    </div>
</div>

<div class="row mt-5">
    <p>Available Tickets</p>
    <table id="ticketTable" class="table table-striped table-bordered" cellspacing="0" style="width:100%;">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Date</th>
            <th class="th-sm">TotalListings</th>
            <th class="th-sm">TotalTickets</th>
            <th class="th-sm">Min</th>
            <th class="th-sm">Max</th>
            <th class="th-sm">Average</th>
            <th class="th-sm">Median</th>
            <th class="th-sm">
                Action
            </th>
        </thead>
        <tbody>
            <% for(let i = 0; i < tickets.length; i++) { let ticket = tickets[i]; %>
            <tr>
                <td>
                    <%=i+1%>
                </td>
                <td>
                    <%=ticket.date%>
                </td>
                <td>
                    <%=ticket.totalListings%>
                </td>
                <td>
                    <%=ticket.totalTickets%>
                </td>
                <td>
                    <%=ticket.minTicketPrice%>
                </td>
                <td>
                    <%=ticket.maxTicketPrice%>
                </td>
                <td>
                    <%=ticket.averageTicketPrice%>
                </td>
                <td>
                    <%=ticket.medianTicketPrice%>
                </td>
                <td class="text-center">
                    <button class="btn btn-success" onClick="viewSeats('<%=ticket.eventID%>', '<%=ticket.date%>')">View
                        Seats</button>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<div class="row mt-5 mb-5" id="seatDetails-div" style="display:none;">
    <p class="mt-5 mb-3"><b>Seats</b></p>
    <table id="seatTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th class="th-sm">No</th>
            <th class="th-sm">Section</th>
            <th class="th-sm">Row</th>
            <th class="th-sm">Price</th>
            <th class="th-sm">Quantity</th>
            <th class="th-sm">DeliveryMethodList</th>
        </thead>
        <tbody id="seatTable-body">
        </tbody>
    </table>
</div>

<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script>
    function viewSeats(eventID, date) {
        $('#seatDetails-div').attr('style', 'display: none;');
        $("#seatTable").dataTable().fnDestroy();
        $.ajax({
            url: '/viewSeatDetails',
            method: 'POST',
            data: {
                eventID,
                date
            },
            success: function (res) {
                if (res.status == 'success') {
                    $('#seatDetails-div').attr('style', 'display: block;');
                    let html = '';
                    let i = 0;
                    res.data.forEach(seat => {
                        i++;
                        let row = '<tr><td>' + i + '</td><td></td><td></td><td>' + seat.price + '</td><td>' + seat.quantity + '</td><td>' + seat.deliveryMethodList + '</td></tr>';
                        html = html + row;
                    });
                    $('#seatTable-body').html(html);
                    $('#seatTable').DataTable({ responsive: true });
                }
            }
        })
    }
</script>